<!--<a ui-sref=".list" class="btn btn-primary">List</a>-->
<!--<a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>-->


<div flex layout="column">
    <div flex></div>
    <md-content  md-whiteframe="6" layout-padding style="background: rgba(0,0,0,0.6)">
        <h3>SKILLS</h3>
        <md-list>
            <md-list-item>html <span flex >oooo</span></md-list-item>
            <md-list-item>  css <span flex>oooo</span></md-list-item>
            <md-list-item>angularJs <span>oooo</span></md-list-item>
            <md-list-item>php <span>oo</span></md-list-item>
        </md-list>

    </md-content>
    <div flex></div>

</div>



<!--<div ui-view=""></div>-->