<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="kostisWebsite" ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="kostisWebsite" ng-strict-di class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="kostisWebsite" ng-strict-di class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="kostisWebsite" ng-strict-di class="no-js"> <!--<![endif]-->
<head>

    <title>Kostis Tsafaris - My Personal Website</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of developer Konstantinos (aka Kostis or Kostas) Tsafaris">
    <meta name="keywords"
          content="HTML5, CSS3, AngularJs, JavaScript, PHP, Kostis, Kostas, Konstantinos, Tsafaris, Κωστής, Κώστας, Κωνσταντίνος, Τσάφαρης, Skills, Web Developer, Software Developer, Developer">
    <meta name="author" content="Konstantinos Tsafaris">

    <!-- BEGIN Open Graph tags -->
    <meta property="og:site_name" content="Kostis Tsafaris - My Personal Website"/>
    <meta property="og:title" content="Personal website of developer Konstantinos Tsafaris!"/>
    <meta property="og:description"
          content="This is the personal website of web developer Konstantinos (Kostis or Kostas) Tsafaris. Navigate through it and find information about my skills, myself and more."/>
    <meta property="og:image"
          content="https://0.academia-photos.com/15196096/4099345/4778952/s200_konstantinos.tsafaris.jpg"/>
    <meta property="og:url" content="http://www.tsafaris.com/">
    <meta property="og:type" content="website"/>
    <!--END Open Graph tags-->

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Personal website of developer Konstantinos Tsafaris.">
    <meta itemprop="description"
          content="This is the personal website of web developer Konstantinos (Kostis or Kostas) Tsafaris. Navigate through it and find information about my skills, myself and more.">
    <meta itemprop="image" content="http://tsafaris.com/assets/img/background-keyboard-color.jpg">


    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--END-->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="/kostisWebsite/app-src/css/app.css">
    <link rel="stylesheet" href="/kostisWebsite/app-src/assets/animate/animate.css">
    <!--endbuild-->

    <!-- build:css css/vendor.css -->
    <link rel="stylesheet" href="/kostisWebsite/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/kostisWebsite/bower_components/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/kostisWebsite/bower_components/angular-typewrite/dist/angular-typewrite.css">
    <!--endbuild-->

    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>  <!--for google maps-->

    <!-- build:nominjs js/vendorPre.js -->
    <script src="/kostisWebsite/bower_components/angular/angular.min.js"></script>
    <script src="/kostisWebsite/bower_components/jquery/dist/jquery.min.js"></script>
    <!--endbuild-->

</head>

<body>
<div ng-if="!appReady" class="full-window">
    <div class='loader'>Loading...</div>
    <p class="loader-text">LOADING</p>
</div>

<div ng-if="appReady" ng-controller="mainController as mainCtrl" layout="row" class="docs-body" ng-cloak>
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-whiteframe="4">
        <!--md-is-locked-open="$mdMedia('gt-md')"-->
        <md-toolbar layout="row" layout-align="space-between center">
            <div flex>
                <md-button ng-click="mainCtrl.closeSidebar()" class="md-icon-button" aria-label="Close menu">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
            </div>
            <p flex style="text-align: center; color: white;">Menu</p>
            <div flex></div>
        </md-toolbar>

        <div layout="column" layout-align="center center">
            <!--<img src="assets/img/meOutline.png" class="profile-pic"/>-->

            <md-button style="width:100%;" ng-repeat="item in mainCtrl.menuItems"
                       ui-sref-active="active" ng-click="mainCtrl.scrollTo(item.url); mainCtrl.closeSidebar()"
                       aria-label="Close menu">{{item.name}}
            </md-button>
            <!--ui-sref="{{item.url}}"-->
        </div>
    </md-sidenav>


    <md-content class="main-container" in-view-container show-scroll ng-mousemove="mainCtrl.mouseMoved()">

        <section>
            <div id="home" class="background-main1" layout-padding>
                <md-toolbar class="md-medium-tall" style="background: transparent;" layout="column"
                            layout-align="center">
                    <div layout="row" layout-align="space-between center">
                        <div flex>
                            <md-button ng-click="mainCtrl.openSidebar()" aria-label="Open menu"
                                       ng-hide="$mdMedia('gt-xs')">
                                <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
                            </md-button>
                        </div>
                        <div class="md-toolbar-tools" layout-align="center center" hide-xs>
                            <md-button ng-repeat="item in mainCtrl.menuItems" ng-click="mainCtrl.scrollTo(item.url)"
                                       ui-sref-active="active" class="menu-toolbar-button">{{item.name}}
                            </md-button>
                            <!--ui-sref="{{item.url}}"-->
                        </div>
                        <div flex></div>
                    </div>
                </md-toolbar>

                <div class="social-icons">
                    <ul>
                        <li ng-repeat="social in mainCtrl.socials">
                            <a ng-href="{{social.url}}" target="_blank"
                               ng-mouseenter="mainCtrl.selectSocial($index)" ng-mouseleave="mainCtrl.selectSocial()"
                               ng-class="{'hover-social': mainCtrl.selectedSocial == $index}">
                                <i class="fa fa-lg fa-fw {{social.name}}"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div flex layout="column" layout-align="space-between center" class="welcome-main">
                    <!--subtract the height of the md-toolbar-->
                    <div></div>
                    <h1 class="md-headline text-center">
                <pre class="typewrite" typewrite start="mainCtrl.startTyping" blink-cursor="false"
                     text="'Kostis Tsafaris'" initial-delay="0s" type-delay="150"></pre>
                        <br/>
                        <pre class="typewrite" typewrite start="mainCtrl.startTyping" text="'Web Developer'"
                             initial-delay="3s"
                             type-delay="100" blink-delay="350" callback-fn="mainCtrl.showStart();"></pre>
                        <br/>
                    </h1>

                    <div layout="row">
                        <div flex layout="row" ng-if="mainCtrl.showStartBtn;">
                            <md-button class="start-btn md-accent" ng-click="mainCtrl.scrollTo('bio')"
                                       aria-label="Start">
                                Start
                            </md-button>
                        </div>
                    </div>
                </div>

                <!--&& mouseMoved-->
                <md-button ng-if="mainCtrl.forceShowArrow || (showArrow)"
                           ng-mouseenter="mainCtrl.forceShowArrow=true"
                           ng-mouseleave="mainCtrl.forceShowArrow=false" id="scroll-top-button"
                           class="md-fab md-mini md-accent"
                           ng-click="mainCtrl.scrollToTop()" aria-label="Scroll to top">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </md-button>
            </div>
        </section>

        <section>
            <div flex id="bio" class="background-main2" layout="column" layout-align="center space-between"
                 layout-padding>
                <div flex></div>
                <div flex layout="column" layout-align="center center"
                     style="background-color: rgba(0,0,0,0.5); padding: 4% 20%;">
                    <h2 class="md-headline">About</h2>
                    <p ng-class="{'no-margin-top': $mdMedia('xs')}" class="text-justify">{{mainCtrl.author.desc}}</p>
                </div>
                <div flex layout="column" layout-align="end center" style="padding-bottom: 0;">
                    <md-button class="start-btn md-accent" ng-click="mainCtrl.scrollTo('skills')"
                               aria-label="Go to skills">
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </md-button>
                </div>
            </div>
        </section>

        <section>
            <div id="skills" class="background-main3" in-view="mainCtrl.skillsInView($inview, $event)" layout="column"
                 layout-align="center" layout-padding>

                <h2 class="md-headline" layout="row" layout-align="center">Skills</h2>

                <div ng-show="mainCtrl.showSkills" layout="row" layout-xs="column">
                    <div flex layout="column">
                        <div ng-repeat="skill in mainCtrl.skills1" layout="column" layout-align="center center"
                             layout-padding>
                            <i class="fa fa-3x fa-fw {{skill.icon}}" aria-hidden="true">
                                <md-tooltip md-direction="right" class="custom-tooltip">{{skill.description}}</md-tooltip>
                            </i>
                            <span>{{skill.title}}</span>
                            <!--<span ng-if="skill.description.length>0">{{skill.description}}</span>-->
                        </div>
                    </div>

                    <div flex layout="column">
                        <div flex ng-repeat="skill in mainCtrl.skills2" layout="column" layout-align="center center"
                             layout-padding>
                            <i class="fa fa-3x fa-fw {{skill.icon}}" aria-hidden="true">
                                <md-tooltip md-direction="left" class="custom-tooltip">{{skill.description}}</md-tooltip>
                            </i>
                            <span>{{skill.title}}</span>
                            <!--<span ng-if="skill.description.length>0">{{skill.description}}</span>-->
                        </div>
                    </div>
                </div>

                <!--<div layout="row" layout-align="center center">-->
                <!--<a class="md-warn" target="_self" href="cv.pdf" download="k_Tsafaris-CV.pdf">*Download CV</a>-->
                <!--</div>-->
            </div>
        </section>

        <section>
            <div id="projects" class="background-main5" layout="column"
                 layout-align="center" layout-padding>

                <h2 class="md-headline" layout="row" layout-align="center">Projects</h2>

                <md-grid-list
                        md-cols-xs="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
                        md-row-height-gt-md="1:1" md-row-height="1:1"
                        md-gutter="12px" md-gutter-gt-sm="30px">

                    <md-grid-tile ng-repeat="project in mainCtrl.projects track by $index">
                        <a ng-href="{{project.url}}" target="_blank" ng-mouseenter="active=true"
                           ng-mouseleave="active=false"
                           ng-class="active ? 'active-logo' : 'logo'">
                            <img ng-src="assets/img/otherProjects/{{project.name}}.jpg"/>
                        </a>
                    </md-grid-tile>

                </md-grid-list>

            </div>
        </section>

        <section>
            <div id="contact" class="background-main4" in-view="mainCtrl.contactInView($inview, $event)"
                 ng-controller="mapController as mapCtrl">
                <div ng-if="!mainCtrl.contact" layout="row" layout-align="center center">
                    <md-button flex layout="column" class="globe md-accent"
                               ng-click="mainCtrl.contact =! mainCtrl.contact; mainCtrl.scrollTo('contact');">
                        <span><i class="fa fa-2x fa-globe" aria-hidden="true"></i></span>
                        <span>Contact</span>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </md-button>
                </div>

                <div ng-if="mainCtrl.contact" layout="column" layout-padding>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-mini md-icon md-fab md-accent"
                                   ng-click="mainCtrl.contact =! mainCtrl.contact"
                                   aria-label="Toggle map">
                            <i class="fa fa-lg fa-arrow-up" aria-hidden="true"></i>
                        </md-button>
                    </div>

                    <div layout="row" layout-xs="column" layout-padding>
                        <div flex="50" flex-xs="100" layout="column">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'
                                                options="map.options" refresh="contact">
                                <ui-gmap-markers models="markers" coords="'self'" fit='false'></ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                        <div flex="50" flex-xs="100" layout="column">
                            <form novalidate id="contact-form" name="mainCtrl.contactForm" flex layout="column"
                                  autocomplete="off">
                                <md-input-container>
                                    <label for="name">Your name</label>
                                    <input ng-model="mainCtrl.user.name" id="name" name="name" required>
                                    <div ng-messages="mainCtrl.contactForm.name.$error"
                                         ng-if="mainCtrl.contactForm.name.$touched" class="error-messages"
                                         role="alert">
                                        <div ng-message="required">*Please enter your name.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container>
                                    <label for="email">Your e-mail (so that I can get back to you)</label>
                                    <input ng-model="mainCtrl.user.email" id="email" name="_replyto" type="email"
                                           required>
                                    <div ng-messages="mainCtrl.contactForm._replyto.$error"
                                         ng-if="mainCtrl.contactForm._replyto.$touched" class="error-messages"
                                         role="alert">
                                        <div ng-message="email">*Please enter a valid e-mail address.</div>
                                        <div ng-message="required">*Please enter your e-mail address.</div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label for="message">Your message</label>
                                    <textarea ng-model="mainCtrl.user.message" id="message" name="message"
                                              ng-maxlength="150" rows="5"
                                              md-select-on-focus required></textarea>
                                    <div ng-messages="mainCtrl.contactForm.message.$error"
                                         ng-if="mainCtrl.contactForm.message.$touched" class="error-messages"
                                         role="alert">
                                        <div ng-message="required">*Please enter your message.</div>
                                        <div ng-message="maxlength">*Your message is too long (max 150 chars allowed).
                                        </div>
                                    </div>
                                </md-input-container>

                                <input type="hidden" name="_next" value="www.tsafaris.com/"/>
                                <input type="text" name="_gotcha" style="display:none"/>

                                <!--<md-button type="submit" class="md-accent md-raised"-->
                                <!--ng-click="mainCtrl.showSendMessage($event);"-->
                                <!--&gt;Send-->
                                <!--</md-button>-->
                                <md-button type="submit" class="md-accent md-raised"
                                           ng-click="mainCtrl.sendEmail();">
                                    <span ng-show="mainCtrl.sendingMail == true"><i class="fa fa-circle-o-notch fa-spin"
                                                                                    aria-hidden="true"></i></span>
                                    Send
                                </md-button>

                                <div ng-if="mainCtrl.messageSent" class="message-success" layout-padding>Your message
                                    was sent successfully.
                                </div>
                                <div ng-if="mainCtrl.errorMessage" class="error-messages" layout-padding>Some error
                                    occurred (probably not your fault). Please e-mail me at
                                    <pre>dinos1@hotmail.com</pre>
                                    .
                                </div>

                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </section>

    </md-content>
</div>

<!-- build:nominjs js/vendorPost.js -->
<script src="/kostisWebsite/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-loader/angular-loader.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-material/angular-material.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/kostisWebsite/bower_components/angular-scroll/angular-scroll.min.js"></script>
<!--Google Maps-->
<script src='/kostisWebsite/bower_components/angular-simple-logger.min.js'></script>
<script src="/kostisWebsite/bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
<!--endbuild-->

<!-- build:js js/vendor.js -->
<script src="/kostisWebsite/bower_components/angular-typewrite/dist/angular-typewrite.js"></script>
<script src="/kostisWebsite/bower_components/angular-inview/angular-inview.js"></script>
<!--endbuild-->

<!-- build:js js/app.js -->
<script src="/kostisWebsite/app-src/app.js"></script>
<script src="/kostisWebsite/app-src/main.controller.js"></script>
<script src="/kostisWebsite/app-src/components/map.controller.js"></script>
<script src="/kostisWebsite/app-src/scroll.button.directive.js"></script>
<!--endbuild-->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-83159331-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
