.profile-pic {
    width:160px;
}
.background-side {
    background: url('https://images7.alphacoders.com/437/437606.jpg') fixed center center;
    -moz-background-size: cover;
}
.background-main {
    background: url('assets/img/background-keyboard.png') fixed center center;
    background-size: cover;
}
.active {
    background-color: lightgrey;
}
.show-menu {
    position: absolute;
    top:0;
    left:0;
}