<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="kostisWebsite" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kostis Tsafaris - My Personal Website</title>
    <meta name="description"
          content="This is the personal website of web developer Konstantinos (Kostis) Tsafaris. Navigate through it and find information about my skills, myself and more.">
    <meta name="keywords"
          content="HTML5,CSS3,AngularJs,JavaScript,PHP,Kostis,Konstantinos,Tsafaris,Skills,Web Developer, Software Developer, Developer">
    <meta name="author" content="Konstantinos Tsafaris">

    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--END-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-typewrite/dist/angular-typewrite.css">
    <link rel="stylesheet" href="assets/animate/animate.css">
    <link rel="stylesheet" href="app.css">

    <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>  <!--for google maps-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>

</head>
<body ng-controller="mainController as mainCtrl" ng-cloak>

<div ng-if="mainCtrl.loading">LOADER</div>

<div ng-if="!mainCtrl.loading" layout="row" class="docs-body">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-whiteframe="4">
        <!--md-is-locked-open="$mdMedia('gt-md')"-->
        <md-toolbar layout="row" layout-align="space-between center">
            <div flex>
                <md-button ng-click="mainCtrl.closeSidebar()" class="md-icon-button" aria-label="Close menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
            </div>
            <h2 flex style="text-align: center;">Menu</h2>
            <div flex></div>
        </md-toolbar>

        <div layout="column" layout-align="center center">
            <!--<img src="assets/img/meOutline.png" class="profile-pic"/>-->

            <md-button style="width:100%;" ng-repeat="item in mainCtrl.menuItems"
                       ui-sref-active="active" ng-click="mainCtrl.scrollTo(item.url); mainCtrl.closeSidebar()"
                       aria-label="Close menu">{{item.name}}
            </md-button>
            <!--ui-sref="{{item.url}}"-->
        </div>
    </md-sidenav>


    <md-content class="main-container" in-view-container show-scroll ng-mousemove="mainCtrl.mouseMoved()">

        <section>
            <div class="background-main1" layout-padding>
                <md-toolbar class="md-medium-tall" style="background: transparent;" layout="column"
                            layout-align="center">
                    <div layout="row" layout-align="space-between center">
                        <div flex>
                            <md-button ng-click="mainCtrl.openSidebar()" aria-label="Open menu">
                                <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
                            </md-button>
                        </div>
                        <div class="md-toolbar-tools" layout-align="center center" hide-xs>
                            <md-button ng-repeat="item in mainCtrl.menuItems" ng-click="mainCtrl.scrollTo(item.url)"
                                       ui-sref-active="active" class="menu-toolbar-button">{{item.name}}
                            </md-button>
                            <!--ui-sref="{{item.url}}"-->
                        </div>
                        <div flex></div>
                    </div>
                </md-toolbar>

                <div class="social-icons">
                    <ul>
                        <li ng-repeat="social in mainCtrl.socials">
                            <a ng-href="{{social.url}}" target="_blank"
                               ng-mouseenter="mainCtrl.selectSocial($index)" ng-mouseleave="mainCtrl.selectSocial()"
                               ng-class="{'hover-social': mainCtrl.selectedSocial == $index}">
                                <i class="fa fa-lg fa-fw {{social.name}}"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div flex layout="column" layout-align="space-between center" class="welcome-main">
                    <!--subtract the height of the md-toolbar-->
                    <div></div>
                    <h2 class="text-center">
                <pre class="typewrite text-center" typewrite start="mainCtrl.startTyping" blink-cursor="false"
                     text="'Kostis Tsafaris'" initial-delay="0s" type-delay="150"></pre>
                        <br/>
                <pre class="typewrite" typewrite start="mainCtrl.startTyping" text="'Web Developer'" initial-delay="3s"
                     type-delay="150" blink-delay="350" callback-fn="mainCtrl.showStart();"></pre>
                        <br/>
                    </h2>

                    <div layout="row">
                        <div flex layout="row" ng-if="mainCtrl.showStartBtn;">
                            <md-button class="start-btn md-accent" ng-click="mainCtrl.scrollTo('bio')"
                                       aria-label="Start">
                                Start
                            </md-button>
                        </div>
                    </div>
                </div>

                <!--&& mouseMoved-->
                <md-button ng-if="mainCtrl.forceShowArrow || (showArrow)"
                           ng-mouseenter="mainCtrl.forceShowArrow=true"
                           ng-mouseleave="mainCtrl.forceShowArrow=false" id="scroll-top-button"
                           class="md-fab md-mini md-accent"
                           ng-click="mainCtrl.scrollToTop()" aria-label="Scroll to top">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </md-button>
            </div>
        </section>

        <section>
            <div flex id="bio" class="background-main2" layout="column" layout-align="center space-between"
                 layout-padding>
                <div flex></div>
                <div flex layout="column" layout-align="center center"
                     style="background-color: rgba(0,0,0,0.5); padding: 4% 20%;">
                    <h2>About me</h2>
                    <p ng-class="{'no-margin-top': $mdMedia('xs')}">{{mainCtrl.author.desc}}</p>
                </div>
                <div flex layout="column" layout-align="end center" style="padding-bottom: 0;">
                    <md-button class="start-btn md-accent" ng-click="mainCtrl.scrollTo('skills')"
                               aria-label="Go to skills">
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </md-button>
                </div>
            </div>
        </section>

        <section>
            <div id="skills" class="background-main3" in-view="mainCtrl.skillsInView($inview, $event)" layout="column"
                 layout-align="space-between" layout-padding>

                <h2 layout="row" layout-align="center">My Skills</h2>

                <div ng-show="mainCtrl.showSkills" layout="row" layout-xs="column">

                    <div flex layout="column">
                        <div ng-repeat="skill in mainCtrl.skills1" layout="row" layout-align="start center"
                             layout-padding>
                            <div flex-offset="10">
                                <i class="fa fa-3x fa-fw {{skill.icon}}" aria-hidden="true"></i>
                            </div>
                            <div flex-offset="5" layout="column">
                                <span>{{skill.title}}</span>
                                <!--<span>{{skill.description}}</span>-->
                            </div>
                        </div>
                    </div>

                    <div flex layout="column">
                        <div flex ng-repeat="skill in mainCtrl.skills2" layout="row" layout-align="start center"
                             layout-padding>
                            <div flex-offset="10">
                                <i class="fa fa-3x fa-fw {{skill.icon}}" aria-hidden="true"></i>
                            </div>
                            <div flex-offset="5" layout="column">
                                <span>{{skill.title}}</span>
                                <!--<span>{{skill.description}}</span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div layout="row" layout-align="center center">
                    <a class="md-warn" target="_self" href="cv.pdf" download="k_Tsafaris-CV.pdf">*Download CV</a>
                </div>
            </div>
        </section>

        <section>
            <div id="contact" class="background-main4" in-view="mainCtrl.contactInView($inview, $event)"
                 ng-controller="mapController as mapCtrl" layout="column" layout-align="center">
                <div ng-if="!mainCtrl.contact" layout="row" layout-align="center center">
                    <md-button flex layout="column" class="globe md-accent"
                               ng-click="mainCtrl.contact =! mainCtrl.contact; mainCtrl.scrollTo('contact');">
                        <span><i class="fa fa-2x fa-globe" aria-hidden="true"></i></span>
                        <span>Contact</span>
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </md-button>
                </div>

                <div ng-if="mainCtrl.contact" layout="column" layout-padding>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-mini md-icon md-fab md-accent"
                                   ng-click="mainCtrl.contact =! mainCtrl.contact"
                                   aria-label="Toggle map">
                            <i class="fa fa-lg fa-arrow-up" aria-hidden="true"></i>
                        </md-button>
                    </div>

                    <div layout="row" layout-xs="column" layout-padding>
                        <div flex="50" flex-xs="100" layout="column">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom'
                                                options="map.options" refresh="contact">
                                <ui-gmap-markers models="markers" coords="'self'" fit='false'></ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                        <div flex="50" flex-xs="100" layout="column">
                            <form novalidate id="contact-form" name="contactForm" flex layout="column"
                                  autocomplete="off"
                                  ng-submit="">
                                <md-input-container>
                                    <label>Your name</label>
                                    <input ng-model="user.name">
                                </md-input-container>

                                <md-input-container>
                                    <label>Your e-mail</label>
                                    <input ng-model="user.email" type="email">
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Your message</label>
                                <textarea ng-model="user.message" md-maxlength="150" rows="5"
                                          md-select-on-focus></textarea>
                                </md-input-container>

                                <md-button type="submit" class="md-accent md-raised"
                                           ng-click="mainCtrl.showSendMessage($event);">Send
                                </md-button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </section>

    </md-content>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.6/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-loader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script src="bower_components/angular-typewrite/dist/angular-typewrite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
<!--<script src="bower_components/ngSmoothScroll/dist/angular-smooth-scroll.min.js"></script>-->
<script src="bower_components/angular-inview/angular-inview.js"></script>
<!--Google Maps-->
<script src='bower_components/angular-simple-logger.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.min.js"></script>


<script src="app.js"></script>
<!--<script src="main.controller.js"></script>-->


<script src="main.controller.min.js"></script>
<script src="components/map.controller.js"></script>
<!--<script src="components/home/js/home.controller.js"></script>-->
<script src="scroll.button.directive.js"></script>
</body>
</html>
