<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="kostisWebsite" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="kostisWebsite" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kostis Personal Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-typewrite/dist/angular-typewrite.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="mainController as mainCtrl" layout="row" class="docs-body">

<md-sidenav class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">
    <md-toolbar layout="row">
        <md-button ng-click="mainCtrl.closeSidebar()" class="md-icon-button">
            <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex="20" hide-sm></span>
        <p flex="60" style="text-align: center;">Menu</p>
        <span flex="20"></span>
    </md-toolbar>
    <div layout="column" layout-align="center center">
        <img src="assets/img/me.jpg" class="profile-pic"/>
        <p layout="column" layout-align="center center">
            <span>Kostis Tsafaris</span>
            <span>Developer</span>
        </p>
        <md-button style="width:100%;" ng-repeat="item in mainCtrl.menuItems" ui-sref="{{item.url}}"
                   ui-sref-active="active" ng-click="mainCtrl.closeSidebar()">{{item.name}}
        </md-button>
    </div>
</md-sidenav>


<md-content style="background: transparent;">

    <div class="background-main1">
        <md-toolbar class="md-medium-tall" style="background: transparent;" layout="column" layout-align="center"> <!--md-scroll-shrink-->
            <div layout="row" layout-align="space-between center">
                <div flex>
                    <md-button ng-click="mainCtrl.openSidebar()">
                        <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
                    </md-button>
                </div>
                <!--<div flex class="text-center">-->
                    <!--<pre typewrite start="mainCtrl.startTyping" blink-cursor="false" text="'Kostis Tsafaris - Web Developer'" initial-delay="0s" type-delay="250"></pre>-->
                <!--</div>-->
                <div class="md-toolbar-tools" layout-align="center center" hide-xs>
                    <md-button ng-repeat="item in mainCtrl.menuItems" ui-sref="{{item.url}}"
                               ui-sref-active="active" class="menu-toolbar-button">{{item.name}}
                    </md-button>
                </div>
                <div flex></div>
            </div>
        </md-toolbar>

        <div class="social-icons">
            <ul>
                <li><a href=""><i class="fa fa-lg fa-fw fa-youtube"></i></a></li>
                <li><a href=""><i class="fa fa-lg fa-fw fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-lg fa-fw fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-lg fa-fw fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-lg fa-fw fa-google-plus"></i></a></li>
            </ul>
        </div>

        <div flex layout="column" layout-align="space-between center" style="height: calc( 100% - 88px);"> <!--subtract the height of the md-toolbar-->
            <div></div>
            <h3 class="text-center">
                <pre class="typewrite" typewrite start="mainCtrl.startTyping" blink-cursor="false" text="'Kostis Tsafaris'" initial-delay="0s" type-delay="250"></pre><br/>
                <pre class="typewrite" typewrite start="mainCtrl.startTyping" text="'Web Developer'" initial-delay="4s" type-delay="250" blink-delay="500"></pre><br/>
            </h3>
            <md-button ng-click="mainCtrl.scrollTo('main2')"><h3>Start</h3></md-button>
        </div>
    </div>

    <div id="main2" class="background-main2">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a rhoncus urna, non accumsan lacus. Donec
            dapibus pellentesque lorem, ac porttitor purus dictum porta. Donec rhoncus varius enim id suscipit.
            Vivamus
            eget tempus urna. Duis finibus euismod suscipit. Curabitur bibendum, purus vitae tincidunt laoreet,
            nulla
            ante sagittis odio, quis sollicitudin dolor diam nec neque. Vestibulum nulla justo, elementum at nulla
            sed,
            porttitor sollicitudin lacus. In interdum interdum magna ac posuere. Donec placerat vestibulum orci, nec
            ornare risus scelerisque nec. Donec id est ut nulla pretium tempor non eget nibh. Integer facilisis
            mauris
            tortor, non pellentesque massa fringilla quis.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a rhoncus urna, non accumsan lacus. Donec
            dapibus pellentesque lorem, ac porttitor purus dictum porta. Donec rhoncus varius enim id suscipit.
            Vivamus
            eget tempus urna. Duis finibus euismod suscipit. Curabitur bibendum, purus vitae tincidunt laoreet,
            nulla
            ante sagittis odio, quis sollicitudin dolor diam nec neque. Vestibulum nulla justo, elementum at nulla
            sed,
            porttitor sollicitudin lacus. In interdum interdum magna ac posuere. Donec placerat vestibulum orci, nec
            ornare risus scelerisque nec. Donec id est ut nulla pretium tempor non eget nibh. Integer facilisis
            mauris
            tortor, non pellentesque massa fringilla quis.
        </p>
    </div>

    <div class="background-main3">
        <p>
            This is my skills page. Below you can find all....
        </p>
    </div>

</md-content>

<!--<md-content flex layout="row">-->
<!--<md-sidenav class="md-sidenav-left"-->
<!--md-component-id="left"-->
<!--md-is-locked-open="$mdMedia('gt-md')"-->
<!--md-whiteframe="4">-->
<!--<md-toolbar layout="row">-->
<!--<md-button ng-click="mainCtrl.closeSidebar()" class="md-icon-button">-->
<!--<ng-md-icon icon="menu" style="fill: white"></ng-md-icon>-->
<!--</md-button>-->
<!--<span flex="20" hide-sm></span>-->
<!--<p flex="60" style="text-align: center;">Menu</p>-->
<!--<span flex="20"></span>-->
<!--</md-toolbar>-->
<!--<div layout="column" layout-align="center center">-->
<!--<img src="assets/img/me.jpg" class="profile-pic"/>-->
<!--<p layout="column" layout-align="center center">-->
<!--<span>Kostis Tsafaris</span>-->
<!--<span>Developer</span>-->
<!--</p>-->
<!--<md-button style="width:100%;" ng-repeat="item in mainCtrl.menuItems" ui-sref="{{item.url}}"-->
<!--ui-sref-active="active" ng-click="mainCtrl.closeSidebar()">{{item.name}}-->
<!--</md-button>-->
<!--</div>-->
<!--</md-sidenav>-->


<!--&lt;!&ndash; MAIN CONTENT &ndash;&gt;-->
<!--<md-content flex class="background-main" layout="column">-->

<!--<md-button ng-click="mainCtrl.openSidebar()" class="show-menu" ng-if="mainCtrl.showMenuButton">-->
<!--<ng-md-icon icon="menu" style="fill: white"></ng-md-icon>-->
<!--</md-button>-->

<!--&lt;!&ndash;<div ng-show="mainCtrl.init">&ndash;&gt;-->
<!--&lt;!&ndash;<md-button ng-show="mainCtrl.showStart" class="md-accent md-raised" ng-click="mainCtrl.startApp();">START&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;<p ng-show="!mainCtrl.showStart">{{(mainCtrl.countDown>0) ? mainCtrl.countDown: 'READY'}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div ui-view ng-if="!mainCtrl.init"></div>&ndash;&gt;-->
<!--<div ui-view flex layout="column"></div>-->

<!--</md-content>-->

<!--</md-content>-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-loader/angular-loader.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-typewrite/dist/angular-typewrite.js"></script>
<script src="app.js"></script>
<script src="main.controller.js"></script>
<script src="components/home/js/home.controller.js"></script>
</body>
</html>
