<!--<a ui-sref=".list" class="btn btn-primary">List</a>-->
<!--<a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>-->


<!--<div flex layout="row" ng-show="!mainCtrl.init">-->
<div flex layout="row">
    <div flex="30" layout="column" layout-align="start center" layout-margin>
        <img src="assets/img/meOutline.png" />
        <p>
            <span>Kostis Tsafaris</span>
            <md-divider></md-divider>

            <span>Developer</span>
        </p>
    </div>

    <div flex layout="column">
        <div flex="50">Profile Col</div>

        <div flex="50" layout-padding>
            <p>Welcome to my homepage</p>
        </div>
    </div>

</div>

<div flex layout="row">
    <div flex="30" layout="column" layout-align="start center" layout-margin>
        <img src="assets/img/meOutline.png" />
        <p>
            <span>Kostis Tsafaris</span>
            <md-divider></md-divider>

            <span>Developer</span>
        </p>
    </div>

    <div flex layout="column">
        <div flex="50">Profile Col</div>

        <div flex="50" layout-padding>
            <p>Welcome to my homepage</p>
        </div>
    </div>

</div>

<div flex layout="row">
    <div flex="30" layout="column" layout-align="start center" layout-margin>
        <img src="assets/img/meOutline.png" />
        <p>
            <span>Kostis Tsafaris</span>
            <md-divider></md-divider>

            <span>Developer</span>
        </p>
    </div>

    <div flex layout="column">
        <div flex="50">Profile Col</div>

        <div flex="50" layout-padding>
            <p>Welcome to my homepage</p>
        </div>
    </div>

</div>
